In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)

orders = 60

data = {
    "Order_ID": range(1001, 1001 + orders),
    "Order_Date": pd.date_range(start="2024-01-01", periods=orders, freq="D"),
    "Product": np.random.choice(["Laptop", "Phone", "Tablet", "Headphones", "Smartwatch"], orders),
    "Category": np.random.choice(["Electronics", "Accessories"], orders),
    "Quantity": np.random.randint(1, 6, orders),
    "Price": np.random.randint(500, 50000, orders)
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price
0      1001 2024-01-01  Headphones  Accessories         3   7276
1      1002 2024-01-02  Smartwatch  Accessories         5  27751
2      1003 2024-01-03      Tablet  Accessories         2   9974
3      1004 2024-01-04  Smartwatch  Accessories         2  40794
4      1005 2024-01-05  Smartwatch  Accessories         1  22459

In [2]:
df["Total_Sales"] = df["Quantity"] * df["Price"]
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price  Total_Sales
0      1001 2024-01-01  Headphones  Accessories         3   7276        21828
1      1002 2024-01-02  Smartwatch  Accessories         5  27751       138755
2      1003 2024-01-03      Tablet  Accessories         2   9974        19948
3      1004 2024-01-04  Smartwatch  Accessories         2  40794        81588
4      1005 2024-01-05  Smartwatch  Accessories         1  22459        22459

In [3]:
total_revenue = df["Total_Sales"].sum()
total_orders = df["Order_ID"].nunique()

print("Total Revenue:", total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 4724323
Total Orders: 60

In [4]:
product_sales = df.groupby("Product")["Total_Sales"].sum().sort_values(ascending=False)
product_sales

Product
Smartwatch    1195333
Headphones    1078474
Phone         1029191
Tablet         731589
Laptop         689736
Name: Total_Sales, dtype: int64

In [5]:
category_sales = df.groupby("Category")["Total_Sales"].sum()
category_sales

Category
Accessories    2742284
Electronics    1982039
Name: Total_Sales, dtype: int64

In [6]:
df["Month"] = df["Order_Date"].dt.month

monthly_sales = df.groupby("Month")["Total_Sales"].sum()
monthly_sales

Month
1    2245592
2    2478731
Name: Total_Sales, dtype: int64

Business Summary:

This sales analysis evaluated 60 customer orders across multiple products and categories.
The total revenue was calculated by multiplying quantity and price for each order, allowing us to measure actual business performance.

From the product-wise analysis, we identified which products contributed the most to overall revenue, helping management understand customer demand.
Category-wise results showed how Electronics and Accessories performed, indicating which category drives more income.

Monthly sales analysis revealed how revenue changed over time, which is useful for identifying growth patterns and planning future promotions.
These insights can help the company focus on high-performing products and improve low-performing areas to increase profitability.

In [7]:
df.to_csv("week2_sales_analysis_output.csv", index=False)
print("CSV file created successfully!")

CSV file created successfully!